<section id="repositoryConfig" class="form">
  <h2>Repository Configuration</h2>
  <fieldset>
    <dl>
      <dt><label for="sourcePath">Source Path</label></dt>
      <dd>
        <input type="text" id="sourcePath" />
      </dd>
    </dl>
    <dl>
      <dt><label for="classPath">Class Path</label></dt>
      <dd>
        <textarea id="classPath"></textarea>
      </dd>
    </dl>
  </fieldset>
  <div class="formActions">
    <button class="button" id="buttonLoadSource">Load Source</button>
    <button class="button" id="buttonClose">Close</button>
  </div>
</section>
