<% for(var packageName in classTree) { %>
  <li>
    <h2><%= packageName %></h2>
    <ul>
      <% for(var i in classTree[packageName]) { %>
        <% var className = classTree[packageName][i]; %>
        <li>
          <a rel="type" 
               href="#"
               data-qualifiedName="<%= packageName+"."+className %>">
            <%= className %>
          </a>
        </li>
      <%}%>
    </ul>
  </li>
<%}%>
