<% for(var packageName in classTree) { %>
   <% for(var i in classTree[packageName]) { %>
     <% var className = classTree[packageName][i]; %>
     <li class="menuItem class" rel="<%= packageName+"."+className %>">
       <span class="packageName"><%= packageName %></span>
       <span class="className"><%= className %></span>
     </li>
  <%}%>
<%}%>
