body {
    color: #333;
    text-align: left;
}

section.list
{
    height: 100%;
    float: left;
    overflow: auto;
    margin-right: 10px;
    padding: 2px 2px 2px 2px;

    ol li
    {
        border-top: 1px solid #f0f0f0;
        margin-bottom: 5px;
    }
}

section.menu
{
    width: 200px;
}

section.document
{
    width: 500px;
}