<section class="methods">
  <header>
    <h2>Interfaces Implemented</h2>
  </header>
  <ol class="methodList">
    <% for(i in interfaceTypes) { %>
    <li>
      <div class="method">
        <header>
          <%= $.View('//kopidoc/views/class_document/showType', {type: interfaceTypes[i],
                                                                            title: null })%>
      </header>
      </div>
    </li>
    <% } %>
  </ol>
</section>
