<section class="methods">
  <header>
    <!--<a href="#" class="toggle">show inherited methods</a>-->
    <h2><%= title %></h2>
  </header>
  <ol class="methodList">
    <% for(i in methods.sort(function(a,b) { return a.name > b.name; } )) { %>
    <% if(fChoose(methods[i])) { %>
    <li>
      <%= $.View('//kopidoc/views/class_document/showmethod', {method: methods[i] })%>
    </li>
    <% } %>
    <%}%>
  </ol>
</section>
