<% if(type.isPrimitive) {%>
  <span rel="type" class="type primitiveType" 
             data-qualifiedName="<%= type.qualifiedName %>">
<% } else { %>
  <a rel="type" href="#" 
        title="<%= title ? type.qualifiedName + "\n" + title : type.qualifiedName %>"
        data-qualifiedName="<%= type.qualifiedName  %>">
<% } %>
<%= type.simpleTypeName %>
<% if(type.isPrimitive) {%>
  </span>
<% } else { %>
  </a>
<% } %>
