<% if(type.isPrimitive) {%>
  <span class="type primitiveType">
<% } else { %>
  <a class="type" href="#" title="<%= title ? type.qualifiedName + "\n" + title : type.qualifiedName %>"
       rel="<%= type.qualifiedName  %>">
<% } %>
<%= type.simpleTypeName %>
<% if(type.isPrimitive) {%>
  </span>
<% } else { %>
  </a>
<% } %>
